[submodule "Walnut"]
	path = Walnut
	url = https://github.com/TheCherno/Walnut
[submodule "submodules/tinyexr"]
	path = submodules/tinyexr
	url = https://github.com/syoyo/tinyexr.git
[submodule "submodules/zlib"]
	path = submodules/zlib
	url = https://github.com/madler/zlib.git
[submodule "submodules/lodepng"]
	path = submodules/lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "submodules/imoguizmo"]
	path = submodules/imoguizmo
	url = https://github.com/fknfilewalker/imoguizmo
